:root {
  --clr-black: #000;
  --clr-white: #ffffff;
  --clr-blue: #1154bb;
  --clr-light-red: #ff474d;
  --clr-red: red;
  --clr-gray: gray;
  --clr-light-gray: 220, 220, 220;
  --clr-beach: 243, 239, 229;
  --clr-purple: 193, 155, 248;
  --clr-light-purple: 226, 216, 255;

  --fs-large: 96px;
  --fs-large01: 64px;
  --fs-regular: 32px;
  --fs-regular01: 36px;
  --fs-medium: 20px;
  --fs-small: 16px;
  --fs-small01: 14px;
  --fs-small02: 12px;

  --fs-mobile-large: 72px;
  --fs-mobile-large01: 48px;
  --fs-mobile-regular: 24px;
  --fs-mobile-regular01: 28px;
  --fs-mobile-medium: 15px;
  --fs-mobile-small: 12px;
  --fs-mobile-small01: 10px;
  --fs-mobile-small02: 8px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Wix Madefor Display", sans-serif;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.fs-large {
  font-size: clamp(70px, 4vw + 1rem, 96px);
}
.fs-large01 {
  font-size: clamp(50px, 2vw + 1rem, 64px);
}
.fs-regular {
  font-size: 32px;
}
/* .fs-regular {
  font-size: clamp(25px, 2vw + 1rem, var(--fs-regular));
} */
/* .fs-regular01 {
  font-size: 36px;
} */
.fs-regular01 {
  font-size: clamp(10px, 2vw + 0.1rem, 36px);
}
/* .fs-medium {
  font-size: 20px;
} */
.fs-medium1 {
  font-size: clamp(10px, 2vw + 0.1rem, 26px);
}
.fs-medium {
  font-size: clamp(10px, 2vw + 0.1rem, 20px);
}
.fs-medium-test {
  font-size: 1.5vmin;
}
/* .fs-small {
  font-size: 16px;
} */
.fs-small {
  font-size: clamp(10px, 2vw + 0.1rem, 16px);
}
.fs-small01 {
  font-size: 14px;
}
.fs-small02 {
  font-size: 12px;
}
.text-gray {
  color: var(--clr-gray);
}
.text-black {
  color: var(--clr-black);
}
.bg-black {
  background-color: var(--clr-black);
}
.text-white {
  color: var(--clr-white);
}
.bg-white {
  background-color: var(--clr-white);
}
.text-blue {
  color: var(--clr-blue);
}
.bg-blue {
  background-color: var(--clr-blue);
}
.text-beach {
  color: var(--clr-beach);
}
.bg-beach {
  background-color: rgb(var(--clr-beach));
}
.text-purple {
  color: var(--clr-purple);
}
.bg-purple {
  background-color: rgb(var(--clr-purple));
}
.bg-light-purple {
  background-color: rgb(var(--clr-light-purple));
}
.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.thin {
  font-weight: 200;
}
.black {
  font-weight: 900;
}
.row {
  flex-direction: row;
  display: flex;
}
.col {
  flex-direction: column;
  display: flex;
}
header {
  display: flex;
}
.hidden {
  display: none;
}
.container {
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
}
.container--header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 1em;
}
.nav__link {
  text-decoration: none;
}
.language {
  justify-content: flex-end;
  display: flex;
}
.language img {
  width: 30%;
  max-width: 5rem;
}
.button {
  border-radius: 100px;
  padding: 0.7em 1.5em;
  border: none;
  text-decoration: none;
}
.nav__item--language-mobile {
  display: none;
}
.hamburger {
  display: none;
}
.gutter {
  display: none;
}
@media (max-width: 1200px) {
  .logo {
    order: 1;
    flex-basis: 1%;
    flex-grow: 9999;
    padding-left: 1em;
  }
  .nav__item--language-desktop {
    display: none;
  }
  .nav__item--language-mobile {
    display: block;
  }
  .language {
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }
  .language img {
    width: 4%;
    max-width: 5rem;
  }
  .gutter {
    order: 3;
  }
  .nav {
    flex-grow: 9999;
    order: 3;
    display: none;
    height: 90vh;
    flex-direction: column;
  }
  .nav .nav__list {
    line-height: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline-start: 0;
  }
  hr {
    width: 100%;
    background-color: rgb(var(--clr-light-gray));
  }
  .nav .nav__list:nth-child(1) .nav__item {
    order: 1;
    width: 100%;
  }
  .nav .gutter {
    order: 2;
    height: 100%;
  }
  .nav .nav__list:nth-child(2) {
    order: 3;
  }
  .nav .nav__item {
    text-align: left;
    padding-left: 3em;
  }
  .nav .nav__item--language-mobile {
    padding-left: 1.5em;
  }
  .border-bottom {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(var(--clr-light-gray));
  }
  .border-top {
    padding-top: 1em;
    border-top: 1px solid rgb(var(--clr-light-gray));
  }
  .seperator {
    display: none;
  }
  .hamburger {
    display: flex;
    justify-content: flex-end;
    flex-basis: 10%;
    padding-right: 1.5em;
    align-self: center;
    flex-grow: 1;
    order: 2;
  }
  .container--header {
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  .logo img {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .hamburger {
    flex-basis: auto;
  }
}
.col {
  flex-direction: column;
}
.underline {
  border-bottom: 2px solid black;
  padding-bottom: 0.5em;
  text-decoration: none;
  margin-left: 1em;
}
.container--primary-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3em;
  max-width: 60%;
  text-align: center;
}
.container--primary-content .button {
  margin-top: 2em;
  padding: 1em 2em;
}
.image-container {
  position: relative;
}
.image-container .icon1 {
  position: absolute;
  top: 15%;
  width: 30%;
  right: -15%;
}
.image-container .icon2 {
  position: absolute;
  bottom: 0%;
  right: -30%;
  border-radius: 0.6rem;
  border: 1px solid white;
  width: 22%;
}
.image-container .icon3 {
  position: absolute;
  left: -15%;
  bottom: -10%;
}
.image-container .icon4 {
  position: absolute;
  border-radius: 0.6rem;
  border: 1px solid white;
  width: 25%;
  left: -30%;
  bottom: 20%;
}
.image-container .icon5 {
  position: absolute;
  border-radius: 0.3rem;
  border: 1px solid white;
  width: 7%;
  left: -12%;
  top: 12%;
}
.image-container .icon0 {
  border-radius: 0.5rem;
  border: 1px solid white;
}
.line {
  height: 1px;
  background-color: white;
  width: 4.8%;
  position: absolute;
  left: -4.8%;
  top: 17.5%;
}
@media (max-width: 1200px) {
  .container--primary-content {
    max-width: 80%;
  }
  .image-container {
    max-width: 80%;
  }
}
@media (max-width: 800px) {
  .container--primary-content {
    max-width: 100%;
    padding: 1em;
  }
  .image-container {
    max-width: 70%;
  }
}
/* Second section */
.container--secondary-content {
  width: 70%;
  padding: 1.5em 0 6em 0;
}
.container--secondary-content > h2 {
  letter-spacing: 0.1em;
  width: 60%;
  padding: 2em 0;
}
.row--secondary-content {
  gap: 4em;
}
.row--secondary-content > * {
  border-top: 1px solid black;
  padding: 2em 0;
}

.col--secondary-content p {
  width: 80%;
}
@media (max-width: 1200px) {
  .row--secondary-content {
    gap: 1em;
  }
  .container--secondary-content {
    width: 80%;
  }
  .container--secondary-content > h2 {
    padding: 1em 0;
  }
}
@media (max-width: 800px) {
  .row--secondary-content > * {
    padding: 1em 0;
  }
  .container--secondary-content > h2 {
    padding: 0.2em 0 0 0;
  }
  .row--secondary-content {
    flex-direction: column;
  }
  .col--secondary-content p {
    margin: 0;
    margin-top: 0.8em;
    line-height: 1.15em;
  }
  .fs-small--secondary-content {
    font-size: 40px;
  }
  .button--secondary-content {
    margin-top: 10px;
    display: inline-block;
  }
  .fs-medium {
    font-size: 30px;
  }
  .fs-large01--secondary-content {
    font-size: var(--fs-mobile-large01);
  }
}
/* Third secton*/
.container--third-content {
  width: 100%;
  text-align: center;
  padding: 5em 0;
}
.h3--third-content {
  margin: 0 auto;
  width: 70%;
}
.p--third-content {
  margin: 0 auto;
  width: 70%;
  margin-top: 2em;
}

.button--third-content {
  margin-top: 2em;
  display: inline-block;
}
.carousel {
  width: 90%;
  display: flex;
  margin: 0 auto;
  white-space: nowrap;
  overflow: auto;
  gap: 3em;
  margin-top: 3.5em;
}
/* .carousel::-webkit-scrollbar {
  margin-top: 2em;
  padding-top: 2em;
  width: 20px;
  }
  .carousel::-webkit-scrollbar-thumb {
    margin-top: 2em;
    background-color: var(--clr-red);
    border-radius: 100px;
    border: 3px solid gray;
    }
    .carousel::-webkit-scrollbar-track {
      margin-top: 2em;
  border: 5px solid transparent;
  background-color: var(--clr-gray);
  border-radius: 100px;
  } */
.carousel img {
  width: 50%;
}
@media (max-width: 1200px) {
}
@media (max-width: 800px) {
  .container--third-content {
    text-align: left;
    width: 90%;
  }
  .h3--third-content {
    line-height: 1.5em;
    margin: 0;
    width: 100%;
  }
  .p--third-content {
    line-height: 1.5em;
    margin: 0;
    width: 100%;
    letter-spacing: 0.05em;
  }
  .container--third-content > * + * {
    margin-top: 2em;
  }
  .fs-large01--third-content {
    font-size: var(--fs-mobile-large01);
    letter-spacing: 0.05em;
  }
  .carousel {
    width: 100%;
  }
  .carousel img {
    width: 100%;
  }
}
/* Forth section */
.container--forth-content {
  width: 90%;
  display: flex;
  padding: max(7em, 12vw) 0;
  justify-content: space-evenly;
  align-items: center;
}
.container--forth-content h4 {
  width: 42%;
  letter-spacing: 0.05em;
}
.forth-content--right {
  width: 42%;
}
.forth-content .get-started {
  padding-bottom: 0.3em;
}
.get-started {
  border-bottom: 3px solid black;
  text-decoration: none;
}
.row-content {
}
.arrow-icon {
  width: 5%;
}
@media (max-width: 800px) {
  .container--forth-content {
    width: 90%;
    flex-direction: column;
  }
  .container--forth-content h4 {
    line-height: 1.5em;
    width: 100%;
  }
  .forth-content--right {
    line-height: 2em;
    width: 100%;
  }
  .fs-large01--forth-content {
    font-size: var(--fs-mobile-large01);
    letter-spacing: 0.05em;
  }
}
/* Fifth content */
.container--fifth-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  line-height: 1.5;
}
.fifth-content--left h2 {
  letter-spacing: 0.05em;
  width: 110%;
}
.container--fifth-content > * {
  flex-basis: 50%;
}
.fifth-content--left {
  margin: auto;
  display: flex;
  flex-basis: 40%;
}
.fifth-content--left__content {
  width: calc(750px - 50vw);
  min-width: 50%;
  max-width: 90%;
  margin: 0 auto;
  gap: 1em;
}
.button--fifth-content {
}
.item-list__fifth-content {
  width: 60%;
}
.fifth-content--right {
  flex-basis: 60%;
  line-height: 2em;
}
.fifth-content--right img {
  width: 100%;
}
@media (max-width: 1200px) {
  /* .container--fifth-content {
    flex-direction: column;
    }
    .fifth-content--left {
      min-width: 100%;
      text-align: left;
      }
      .fifth-content--left__content {
        margin: 0 auto;
        min-width: 80%;
        }
        .fs-regular01 {
          font-size: clamp(10px, 2vw + 2rem, 60px);
          }
          .fs-small {
            font-size: clamp(10px, 2vw + 1rem, 40px);
            }
            .fs-medium {
              font-size: clamp(20px, 2vw + 0.5rem, 50px);
              } */
}
@media (max-width: 800px) {
  .container--fifth-content {
    flex-direction: column;
  }
  .fifth-content--left {
    width: 90%;
    padding: max(4em, 7vw) 0;
  }
  .fifth-content--left__content {
    min-width: 100%;
    width: 100%;
    letter-spacing: 0.05em;
  }
  .list-item--fifth-content {
    margin: 0 auto;
  }
  .fs-regular01--fifth-content {
    font-size: 60px;
  }
  .fifth-content--left__content h2 {
    width: 50%;
  }
  .fifth-content--left .get-started {
    display: inline-block;
    margin-top: 2em;
  }
  .fifth-content--right {
    flex-basis: 100%;
    flex-grow: 1;
    line-height: 2em;
  }
  .fs-medium--fifth-content {
    font-size: 40px;
  }
  .list-item--fifth-content li {
    margin-top: 1em;
  }
}
/* Sixth content */
.container--sixth-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  line-height: 1.5;
}
.sixth-content--left h2 {
  letter-spacing: 0.05em;
  width: 110%;
  flex-basis: 40%;
}
.sixth-content--left {
  margin: auto;
  width: 100%;
  flex-basis: 50%;
  padding: 2em 0;
}
.sixth-content--left__content {
  width: calc(750px - 40vw);
  min-width: 60%;
  max-width: 90%;
  margin: 0 auto;
}
.button--sixth-content {
  margin-top: 1.5em;
}
.item-list__sixth-content {
  min-width: 80%;
  max-width: 90%;
  width: calc(750px - 40vw);
}
.sixth-content--right {
  flex-basis: 50%;
  display: flex;
  align-items: flex-start;
}
.sixth-content--right img {
  width: 100%;
}
.button--sixth-content {
  display: inline-block;
}
.fs-large01--eleventh-content {
  font-size: var(--fs-mobile-large01);
}
@media (max-width: 1200px) {
  .sixth-content--right {
    flex-basis: 60%;
  }
  .sixth-content--left {
    flex-basis: 40%;
  }
}
@media (max-width: 1000px) {
  .fs-large01--sixth-content {
    font-size: clamp(30px, 2vw + 0.5rem, 50px);
  }
}
@media (max-width: 800px) {
  .sixth-content {
    background-color: rgb(var(--clr-purple));
  }
  .container--sixth-content {
    width: 100%;
    flex-direction: column;
  }
  .sixth-content--left__content h2 {
    width: 100%;
  }
  .sixth-content--left__content {
    min-width: 90%;
  }
  .item-list__sixth-content {
    margin-left: 2em;
  }
  .sixth-content .text-white {
    color: var(--clr-black);
  }
}
/* Seventh content */
.container--seventh-content > * + * {
  margin-top: 2em;
}
.container--seventh-content {
  padding: max(3em, 13vw) 0;
  width: 70%;
}
.container--seventh-content h2 {
  width: 50%;
  letter-spacing: 0.05em;
}
.row--seventh-content {
  flex-wrap: wrap;
  gap: 2em;
}
.row--secondary-content {
  margin-top: 2em;
}
.row--seventh-content .col {
  flex-basis: 30%;
  flex-grow: 1;
}
.row--seventh-content p {
  width: 90%;
  font-family: helveticaneue-light;
}
.container--seventh-content .get-started {
  border: none;
}
@media (max-width: 1200px) {
  .row--seventh-content {
    margin-top: 2em;
  }
  .container--seventh-content h2 {
    width: 70%;
  }
  .container--seventh-content > * + * {
  }
}
@media (max-width: 800px) {
  .row--seventh-content {
    flex-direction: column;

    gap: 0.5em;
  }
  .container--seventh-content h2 {
    width: 100%;
  }
  .container--seventh-content {
    width: 90%;
  }
  .row--seventh-content > .col {
    border-top: 1px solid var(--clr-gray);
    padding-top: 1em;
  }
}
/* Eight ontent */
.container--eight-content {
  min-width: 75%;
  max-width: 100%;
  text-align: center;
  padding: max(3em, 13vw) 0;
}
.col--eight-content {
  text-align: left;
}
.col--eight-content > img {
  flex-grow: 1;
  flex-basis: 20%;
}
.col--eight-content .col-content {
  flex-basis: 20%;
  flex-grow: 9999;
}
.row-content > * + * {
  margin-left: 0.5em;
}
.col--eight-content .row img {
  width: 15%;
}
.col-content {
  align-self: baseline;
}
.row--eight-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
  gap: 6vw;
}
.row--eight-content .col {
  flex-basis: 40%;
}
.row--eight-content .row > * + * {
  margin-left: 1em;
}
.col--eight-content > * + * {
  margin-top: 2vmin;
}
.col-content a {
  letter-spacing: 0.05em;
  padding: 0;
  margin: 0;
}
.col-content p {
  width: 70%;
  letter-spacing: 0.05em;
}
.col-content a span {
  margin-right: 0.2em;
}
.col-content a img {
  width: 2rem;
}
.underline--eight-content {
  margin-left: 0;
}
.underline--eight-content + .underline--eight-content {
  margin-left: 1em;
}
.tes {
  text-decoration: none;
  border-bottom: 3px solid black;
  padding-bottom: 0.5rem;
}
.row-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-content > * + * {
  margin-left: 0;
}
.row-content > * {
  flex-shrink: 1;
  flex-basis: 40%;
}
@media (max-width: 1200px) {
  .fs-large01--eight-content {
    font-size: clamp(25px, 2vw + 0.5rem, 50px);
  }
  .row--eight-content {
    gap: 2vw;
  }
  .container--eight-content {
    width: calc(750px + 100vw);
    max-width: 90%;
  }
}
@media (max-width: 800px) {
  /* .row-content .fs-medium,
  .col-content .fs-medium {
    font-size: 40px;
  } */
  .row-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .row-content > * + * {
    margin-top: 1em;
  }
  .col-content p {
    width: 100%;
  }
  .col--eight-content .row-content {
    text-align: left;
  }
  .col--eight-content .row-content__link {
    text-align: left;
  }

  .row--eight-content .col {
    flex-basis: 100%;
  }
  .col--eight-content {
    padding: 0.5em 0;
  }
  .fs-large01--eight-content {
    font-size: var(--fs-mobile-large01);
  }
}
/* Ninth Content */
.ninth-content {
  padding: max(4em, 12vw) 0;
}
.button--ninth-content {
  border: none;
}
.container--ninth-content {
  align-items: center;
  justify-content: space-between;
}
.container--ninth-content .right--ninth-content {
  width: 42%;
}

.container--ninth-content .left--ninth-content {
  width: 50%;
}
.container--ninth-content .left--ninth-content img {
  width: 100%;
}
@media (max-width: 800px) {
  .ninth-content {
    padding: 0;
  }
  .container--ninth-content {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .container--ninth-content .left--ninth-content {
    width: 100%;
    order: 2;
  }
  .container--ninth-content .right--ninth-content {
    padding: 6em 0;
    order: 1;
    width: 90%;
    letter-spacing: 0.05em;
  }
  .container--ninth-content .right--ninth-content img {
  }
  .right--ninth-content .get-started {
    margin-top: 0.5em;
    display: inline-block;
  }
  .fs-large01--ninth-content {
    font-size: var(--fs-mobile-large01);
  }
}
/* Tenth Content */
.container--tenth-content {
  width: 70%;
  padding: max(3em, 12vw) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container--tenth-content > * + * {
  margin-top: 2em;
}
.container--tenth-content > *:not(ul) {
  text-align: center;
}
.item-list--tenth-content ul {
  width: 70%;
  border: 1px solid blue;
  line-height: 5em;
}
.item-list--tenth-content li {
  text-align: left;
  list-style-type: decimal;
  margin-bottom: 1.5em;
}
.item-list-container {
  display: flex;
  justify-content: center;
}
.container--tenth-content .row {
  gap: 2em;
  align-items: baseline;
}
.row--tenth-content {
  display: block;
}
/* Eleventh content */
.container--eleventh-content {
  width: 90%;
  padding: max(5em, 10vw) 0;
  display: flex;
  justify-content: space-between;
}
.right--eleventh-content {
  display: flex;
}
.left--eleventh-content {
}
.left--eleventh-content h2 {
  width: 80%;
}
.col--eleventh-content {
  display: flex;
  padding: 0.5em 0;
  border-radius: 0.25em;
  align-items: center;
}
.col--eleventh-content span {
  padding: 0 0.5em;
}
.right--eleventh-content {
  flex-wrap: wrap;
  gap: 2em;
}
.right--eleventh-content > * {
  flex-basis: 40%;
  flex-grow: 1;
}
.col--eleventh-content img {
  border-radius: 0.25em;
  width: 90%;
}
.col--eleventh-content span {
  margin-top: 1em;
}
.button--eleventh-content {
  margin: 2em 0;
  border: none;
  display: inline-block;
}
@media (max-width: 1200px) {
  .left--eleventh-content {
    width: 40%;
  }
  .right--eleventh-content > * {
    min-width: 5rem;
    flex-grow: 1;
  }
  .right--eleventh-content {
    width: 55%;
  }
  .fs-large01--eleventh-content {
    font-size: clamp(40px, 2vw + 0.5rem, 80px);
  }
}
@media (max-width: 800px) {
  .left--eleventh-content {
    width: 100%;
    text-align: center;
  }
  .left--eleventh-content h2 {
    width: 100%;
  }
  .right--eleventh-content {
    width: 100%;
  }
}
/* Twelveth contents */
.container--twelveth-content {
  padding: 6em 0;
  width: 90%;
  justify-content: space-between;
}

.left--twelveth-content {
  width: 40%;
}
.left--twelveth-content h2 {
  width: 80%;
}
.right--twelveth-content {
  width: 60%;
  line-height: 1.5em;
}
.right--twelveth-content p:first-child {
  margin: 0;
}
@media (max-width: 800px) {
  .left--twelveth-content {
    width: 100%;
  }
  .left--twelveth-content h2 {
    width: 100%;
  }
  .right--twelveth-content {
    width: 100%;
    line-height: 1.5em;
  }
  .right--twelveth-content p:first-child {
    margin: 1.5em 0;
  }
  .right--twelveth-content .get-started {
    margin-top: 1em;
    display: inline-block;
  }
}

/* Thirteenth content */
.container--thirteenth-content {
  padding: max(3em, 9vw) 0;
  width: 70%;
}
.h2--thirtheenth-content {
  margin: 1em 1em 1em 0;
}
.row--thirteenth-content {
  gap: 3em;
}
.row--thirteenth-content .col {
  display: block;
}
.col--thirtheeth-content {
  padding-top: 2em;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 100%;
  display: flex;
  border-top: 1px solid var(--clr-black);
}
.col--thirtheeth-content p {
  width: 90%;
  line-height: 1em;
  letter-spacing: 0.05em;
}
.col--thirtheeth-content .get-started {
}
.col--thirtheeth-content .get-started img {
  width: 10%;
}
.col--thirtheeth-content > * {
}
.container--forteenth-content {
  width: 70%;
  padding: 6em 0;
}
.underline--thirteenth-content {
  margin-left: 0;
}
@media (max-width: 800px) {
  .container--thirteenth-content {
    flex-direction: column;
  }
}
/* Fortheenth content */
.expandable {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 2em;
}
.expandable li {
  border: 1px solid var(--clr-gray);
  padding: 1.5em;
}
.expandable li img {
  width: 5%;
}
.before-expand {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.expandable-details {
  padding-left: 1em;
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expandable-details li {
  list-style-type: decimal;
  border: none;
  padding: 0;
  padding-top: 1em;
  line-height: 1.5em;
  font-size: var(--fs-medium);
}
/* Fifteen content */
.container--fifthteen-content {
  width: 70%;
  padding: 6em 0;
  flex-direction: column;
  text-align: center;
}
.container--fifthteen-content .get-started {
  border: none;
  margin-top: 2em;
  display: inline-block;
}
/* Footer */
.list-item--footer {
  line-height: 2em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container--footer {
  padding: 3em 0;
  gap: 1em;
  align-content: flex-start;
}
.container--footer .col {
  flex-basis: 15%;
  flex-grow: 1;
}
.container--footer .col li {
  padding: 0;
}
.hello {
  flex-basis: 10%;
}
.hello .footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.hello p {
  line-height: 1.5em;
}
.hello .footer-links a {
  text-decoration: none;
}
.col-footer-title {
  padding: 0;
  margin: 0;
}
.logo--footer {
  padding: 0.5em 0 1em 0;
}

@media (max-width: 1200px) {
  .container--footer {
    flex-wrap: wrap;
  }
  .container--footer > .col {
    flex-basis: 30%;
    flex-grow: 0;
  }
  .hello {
    display: none;
  }
}

@media (max-width: 1200px) {
  /* .fs-medium {
    font-size: clamp(20px, 2vw + 0.5rem, 40px);
  }
  .fs-regular01 {
    font-size: clamp(10px, 2vw + 2rem, 60px);
  }
  .fs-small {
    font-size: clamp(10px, 2vw + 1rem, 40px);
  } */
}
@media (max-width: 800px) {
  .fs-medium {
    font-size: var(--fs-mobile-medium);
  }
  .fs-medium1 {
    font-size: var(--fs-mobile-medium1);
  }
  .fs-large {
    font-size: var(--fs-mobile-large);
  }
  .fs-large01 {
    font-size: var(--fs-mobile-large01);
  }
  .fs-regular {
    font-size: var(--fs-mobile-regular);
  }
  .fs-regular01 {
    font-size: var(--fs-mobile-regular01);
  }
  .fs-small {
    font-size: var(--fs-mobile-small);
  }
  .fs-small01 {
    font-size: var(--fs-mobile-small01);
  }
  .row {
    flex-direction: column;
  }
}
